.repo-list {
  font-size: 18px;
  li a {
    text-transform: capitalize;
  }
}

div.search_form {
  h3 {
    margin-bottom: 0;
  }
}

div.user_repos {
  h3 {
    font-size: 25px;
    margin-bottom: 0;
  }
  li {
    font-size: 16px;
    text-transform: capitalize;
  }
  ul {
    margin-bottom: 20px;
  }
}

div.home {
  margin-top: 50px;

  h4.title {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.gist-file {
  padding: 12px;
  margin-top: 35px;
  h3 {
    font-size: 25px;
    line-height: 35px;
  }
}

.copyright {
  margin-top: 40px;
  span {
    float: right;
  }
}

div.news {
  p {
    padding-top: 10px;
  }
  img {
   float: left;
   margin: 0 10px 0 0;
  }
  span {
    font-weight: bold;
  }
}

.warning {
  margin-top: 15px;
  span {
    font-weight: bold;
  }
}

