.repo-list {
  font-size: 18px;
  li a {
    text-transform: capitalize;
  }
}

div.home {
  margin-top: 90px;
  margin-bottom: 20px;

  h4.title {
    margin-top: 40px;
    font-size: 20px;
  }
}

.gist-file {
  padding: 12px;
  margin-top: 35px;
  h3 {
    font-size: 25px;
    line-height: 35px;
  }
}

.copyright span {
  float: right;
}
