%section{id: id, class: 'clearfix'}
  %a{href: show_resources_path(owner: @repo.owner, name: @repo.name, resource: id)}
    %h2= title
  %br
  - resources.each do |s|
    %div.box
      %p
        = link_to(s.title, s.url)
        %br
        = image_tag s.thumbnail_url
        %br
        = s.description
%hr
