= paginate @resources
%hr
%h2= title_link @repo
- media = meta_id(@resources) == 'slides' ? 'slides' : 'resources'
= render media, resources: @resources, id: meta_id(@resources), title: title(@resources) unless @resources.empty?
= paginate @resources
