<div class="login">
  <% if current_user %>
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github" %>
  <% end %>
</div>

