<div class="login">
  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign out", signout_path, class: "login-btn" %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github", class: "login-btn btn-auth btn-github" %>
  <% end %>
</div>
