<div class="login">
  <% if current_user %>
    Welcome <%= current_user.name.split.first %>!
    <%= link_to "Sign out", signout_path, class: "btn-auth btn-github"  %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github", class: "btn-auth btn-github" %>
  <% end %>
</div>
