<%= form_tag("/search", :method => "get") do %>
  <h3>Search for your favourite Github Project</h3>
  <%= text_field_tag(:q, params[:q], placeholder: 'ex. ruby, node, twitter bootstrap') %>
  <%= submit_tag("Search", class: 'button') %>
<% end %>

