= form_tag("/search", :method => "get") do
  %h3
    %label{for: 'q'} Search for your favourite Open Source Project on Github
  = text_field_tag(:q, params[:q], placeholder: 'ex. ruby, node, twitter bootstrap', required: true)
  = submit_tag("Search", class: 'button')

  %p.warning
    %span Note:
    Newly visited respositories might time-out due to resource harvesting process, kindly revist the page after a while. This will soon be fixed!
    %br
    %br
    Thanks for your patience.
