- notes = [ { anchor: '#blogs', title: 'blogs', class: 'active' },
            { anchor: '#subscribe', title: 'subscribe' },
            { anchor: '#tips', title: "Tips 'n' Tricks" },
            { anchor: '#slides', title: 'Slides' },
            { anchor: '#qnas', title: 'FAQs' } ]
%aside#sidebar
  %nav
    %a.logo#nav-logo{href: '#top'}
      %span TheHackerNotes
      = repo.name
    %ul
      - notes.each do |n|
        %li{class: n[:class]}
          = link_to(n[:title], n[:anchor])
    %div.bg_bottom
