- notes = [ sidebar(@blogs, 'Blogs', 'active'),
            sidebar(@subs_services, 'Subscribe', nil, 'subscribe'),
            sidebar(@tips, "Tips 'n' Tricks"),
            sidebar(@slides, 'Slides'),
            sidebar(@qnas, 'FAQs'),
            sidebar(@screencasts, 'Screencasts'),
            sidebar(@videos, 'Videos'),
            sidebar(@noteworthies, 'Noteworthy') ].compact

%aside#sidebar
  %nav
    %a.logo#nav-logo{href: '#top'}
      %span TheHackerNotes
      = repo.name
    %ul
      - notes.each do |n|
        %li{class: n[:css_class]}
          = link_to(n[:title], n[:anchor])
    %div.bg_bottom
