%div.news
  = link_to image_tag("GoogleChromeLogo.png", size: "54x54"), "https://chrome.google.com/webstore/detail/hackernotes-plugin/acphikopigkpfbkonnacihkhcefdeagg"
  %p
    %span Try
    = link_to "Hacker Notes Chrome Plugin.", "https://chrome.google.com/webstore/detail/hackernotes-plugin/acphikopigkpfbkonnacihkhcefdeagg"
    %br
    %span It makes coming from Github to Hacker Notes super easy.

  %p
    = image_tag "karma.png", size: "54x54"
    %div Earn Karma for all your contributions.

