<p><%= render "search_form" %></p>

<p style="margin: 20px 0">Popular repositories</p>
<ul class="repo-list">
  <% @popular_repos.each do |r| %>
    <li><%= link_to r.name, show_repo_path(owner: r.owner, name: r.name) %></li> 
  <% end %>
</ul>

<p style="margin: 20px 0">Recently visited repositories</p>
<ul class="repo-list">
  <% @repos.each do |r| %>
    <li><%= link_to r.name, show_repo_path(owner: r.owner, name: r.name) %></li> 
  <% end %>
</ul>
