<p><hr/><br/>
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for you favourite Github Project") %>
  <%= search_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</p>
