/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 *= require_tree ./home
 *= require_directory ../../../vendor/assets/stylesheets/
 */

.superscript {
  position: relative;
  top: -2em;
  font-size: 30%;
}

header h1 {
  display: inline-block;
  span.tagline {
    height: 16px;
    clear: left;
    float: left;
    padding: 0;
    margin-top: -20px;
    font-size: 14px;
    font-weight: bold;
    font-family:"LaneNarrowRegular", Arial, Helvetica, sans-serif;
    line-height: 16px;
  }
}

.login {
  float: right;
  margin-top: 15px;
  div.mail {
    clear: both;
    display: block;
    float: right;
  }
  div.tweet {
    clear: both;
    display: block;
    float: right;
    padding: 13px 0;
  }
}

nav.pagination {
  float: right;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 3px;
}

nav.menu {
  display: inline-block;
  a {
    margin: 0 5px 0 5px;
    font-size: 18px;
  }
  margin-bottom: 4px;
}

section a h2:hover, .github-repo-name:hover {
  color: #6db0da;
}

.error {
  border: 2px solid;
  background-color: #F2D09D;
  padding: 8px;
  color: red;
  margin-top: 4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  ul {
    margin-top: 3px;
    font-weight: normal;
    list-style-type: none;
  }
}
.error ul li:first-letter {
  text-transform: capitalize;
}

.box {
  width: 350px;
  height: 340px;
  margin-right: 10px;
  display: inline;
  overflow: hidden;
  float: left;
  img {
    padding-top: 4px;
    max-width: 210px;
    max-height: 160px;
    overflow: hidden;
  }
}


.resource {
  h3.title {
    font-family:"LaneNarrowRegular", Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 3px;
    letter-spacing: 1px;
    line-height: 45px;
    text-transform: lowercase;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  h3 span {
    height: 25px;
  }
  p {
    margin-bottom: 10px;
  }
  .vote img{
    height: 25px;
  }
}

.fancySelectBox {
  height: 35px;
  width: 110px;
  margin-left: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #575757;
  font-size: 20px;
}

.successMessage {
  font-size: 28px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: green;
}

.notification {
  font-family: verdana;
  text-align: center;
  margin: 20px 0 10px 0;
  border: 1px solid;
  padding: 4px;
}
