/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 *= require_directory ../../../vendor/assets/stylesheets/
 */

.superscript {
  position: relative;
  top: -2em;
  font-size: 30%;
}

header h1 {
  display: inline;
}

.login {
  float: right;
  margin-top: 15px;
}

.repo-list {
  font-size: 18px;
}

nav.pagination {
  font-size: 16px;
  letter-spacing: 3px;
}

#slides .box {
  width: 330px;
  height: 320px;
  display: inline;
  overflow: hidden;
  float: left;
  img {
    padding-top: 4px;
    max-width: 210px;
    max-height: 160px;
    overflow: hidden;
  }
  p {
    padding-right: 10px;
  }
}


.resource {
  h3.title {
    font-size: 25px;
    margin-bottom: 3px;
    letter-spacing: 1px;
    line-height: 45px;
    text-transform: lowercase;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  h3 span {
    height: 25px;
  }
  p {
    margin-bottom: 10px;
  }
  .vote img{
    height: 25px;
  }
}

.globalSuccessMessage {
  font-size: 28px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: green;
}

.globalValidationMessage {
  font-size: 18px;
  display: block;
  color: red;
}
